body {
    font-family: Avenir;
}

.blue-bg {
    background: #3D81E4;
}

.blue-bg.dark {
    background: #183FD2;
    color: #ffffff;
}

.sans {
    font-family: NeoSans;
}

.sans.title {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #2878B8;
}