body {
    font-family: NeoSans;
}

.blue-bg {
    background: #3D81E4;
}

.blue-bg.dark {
    background: #183FD2;
    color: #ffffff;
}

.title {
    font-family: NeoSans;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #2878B8;
}

.short-about {
    font-family: Avenir;
    font-style: normal;
    color: #ffffff;
}

h4.short-about {
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
}