body {
    font-family: NeoSans;
}

.blue-bg {
    background: #3D81E4;
}

.title {
    font-family: NeoSans;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #2878B8;
}